<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-assignment zmd-2x'></i><strong>Nuevo</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-border-color zmd-2x'></i><strong>Renovación</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-format-color-fill zmd-2x'></i><strong></strong>Renov. Plan</a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-cloud-upload zmd-2x'></i><strong>Portabilidad</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-layers-off zmd-2x'></i><strong>Dar de Baja</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-whatsapp zmd-2x'></i><strong>Contacto</strong></a>
	</div>
	
</div>